main{
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    margin: 0% 0 10% 0
}

.info-main{
    max-width: 75%;
    margin: 0 auto;
    position: relative;
    left: 20%;
    animation: fade-in 1s ease-in-out;
}

.info-main h2{
    font-size: 3rem;
}

.info-main p{
    font-size: 1.2rem;
    font-weight: 200;
    margin-bottom: 30px;
}

.info-main a{
    background-color: #F75C9E;
    color: white;
    font-weight: 300;
    padding: 8px;
    border-radius: 5px;
    margin: 0 15px 0 0;
    text-decoration: none;
}

.img-main{
    max-width: 100%;
    margin: 0 auto;
    opacity: 0.9;
    animation: fade-in 1s ease-in-out;
}

.img-main img{
    max-width: 100%;
    position: relative;
    right: 15%;
    top: 10%;
}

@media (max-width: 1250px){
    .img-main img{
        top: 10%;
    }
    .info-main{
        position: static;
    }
    .info-main h2{
        font-size: 2.7rem;
    }
    .info-main p{
        font-size: 1rem;
    }
}

@media (min-width: 921px){
    #main{
        margin-top: 5%;
    }
}

@media (max-width: 920px){
    main{
        grid-template-rows: 1fr fr;
        grid-template-columns: 1fr;
    }
    .info-main{
        display: grid;
        justify-items: center;
    }
    .info-main #compra{
        text-align: center;
        grid-row: 1/2;
    }
    .info-main #rating{
        text-align: center;
        grid-row: 5/6;
    }
    .info-main #tradea{
        text-align: center;
        grid-row: 2/3;
        margin: 0 0 20px 0;
    }
    .info-main #estrellas{
        grid-row: 6/7;
        margin-top: 0;
        text-align: center;
    }
    .info-main a{
        grid-row: 3/5;
    }
    .img-main{
        display: none;
    }
}

@media (max-width: 470px){
    .info-main h2{
        font-size: 2.5rem;
    }
    .info-main p{
        font-size: 0.9rem;
    }
    .info-main a{
        font-size: 0.8rem;
    }
}

@media (max-width: 393px){
    .info-main h2{
        font-size: 2.2rem;
    }
    .info-main a{
        font-size: 0.6rem;
    }
    .container-a{
        display: grid;
        grid-template-rows: 1fr 1fr;
        gap: 15px;
        margin-top: 10px;
    }
    #comienza{
        grid-row: 1/2;
    }
    #mirar{
        grid-row: 2/3;
    }
}

@media (max-width: 315px){
    .info-main h2{
        font-size: 1.5rem;
    }
    .info-main p{
        font-size: 0.7rem;
    }
    .info-main a{
        font-size: 0.6rem;
    }
}